SOA/Web/SAL/SALServices/Loan/Source/ASA.Web.Services.LoanService.Proxy/Service References/PersonManagement/PersonManagementService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://amsa.com/contract/ASA.Common.ResponseMessage/v1.0" elementFormDefault="qualified" targetNamespace="http://amsa.com/contract/ASA.Common.ResponseMessage/v1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseMessageList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseMessage" nillable="true" type="tns:ResponseMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseMessageList" nillable="true" type="tns:ResponseMessageList" />
  <xs:complexType name="ResponseMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="MessageDetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetEntityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetEntityPrimaryKey" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseMessage" nillable="true" type="tns:ResponseMessage" />
</xs:schema>