SOA/Web/SAL/Common/Source/ASA.Web.Services.Proxies/Service References/SALTService/SALTService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Asa.Salt.Web.Services.Contracts.Data.Lessons.Lesson2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Asa.Salt.Web.Services.Contracts.Data.Lessons.Lesson2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/SALTService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Asa.Salt.Web.Services.Contracts.Data.Lessons" />
  <xs:import schemaLocation="http://localhost:8081/SALTService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Asa.Salt.Web.Services.Contracts.Data" />
  <xs:import schemaLocation="http://localhost:8081/SALTService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="Lesson2Contract">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentBalance" nillable="true" type="tns:CardInformationContract" />
      <xs:element minOccurs="0" name="DebtReductionOptions" nillable="true" type="tns:DebtReductionOptionsContract" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Asa.Salt.Web.Services.Contracts.Data.Lessons" minOccurs="0" name="ImportedExpenses" nillable="true" type="q1:ArrayOfExpenseContract" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Asa.Salt.Web.Services.Contracts.Data.Lessons" minOccurs="0" name="OneTimeExpenses" nillable="true" type="q2:ArrayOfExpenseContract" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Asa.Salt.Web.Services.Contracts.Data.Lessons" minOccurs="0" name="RecurringExpenses" nillable="true" type="q3:ArrayOfExpenseContract" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Asa.Salt.Web.Services.Contracts.Data" minOccurs="0" name="User" nillable="true" type="q4:MemberLessonContract" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Lesson2Contract" nillable="true" type="tns:Lesson2Contract" />
  <xs:complexType name="CardInformationContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="InterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="LessonUserId" type="xs:int" />
      <xs:element minOccurs="0" name="MakesMinimumPayment" type="xs:boolean" />
      <xs:element minOccurs="0" name="MonthlyPaymentAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CardInformationContract" nillable="true" type="tns:CardInformationContract" />
  <xs:complexType name="DebtReductionOptionsContract">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtraPaymentAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ExtraPaymentMonth" type="xs:int" />
      <xs:element minOccurs="0" name="IncreaseMonthlyPayment" type="xs:decimal" />
      <xs:element minOccurs="0" name="LessonUserId" type="xs:int" />
      <xs:element minOccurs="0" name="LowerYourInterestRate" type="xs:boolean" />
      <xs:element minOccurs="0" name="LoweredInterestRate" type="xs:decimal" />
      <xs:element minOccurs="0" name="PayCashForOneTimePurchases" type="xs:boolean" />
      <xs:element minOccurs="0" name="PayCashForRecurringExpenses" type="xs:boolean" />
      <xs:element minOccurs="0" name="PlanAnExtraPayment" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DebtReductionOptionsContract" nillable="true" type="tns:DebtReductionOptionsContract" />
</xs:schema>