SOA/Web/SAL/SALServices/Loan/Source/ASA.Web.Services.LoanService.Proxy/Service References/LoanManagement/LoanManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://asa.org/servicecontract/loanManagement/v1.2" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LoanManagement" targetNamespace="http://asa.org/servicecontract/loanManagement/v1.2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://asa.org/servicecontract/loanManagement/v1.2/Imports">
      <xsd:import schemaLocation="http://adevweb022.amsa.com/LoanManagementService/LoanManagementService.svc?xsd=xsd0" namespace="http://asa.org/servicecontract/loanManagement/v1.2" />
      <xsd:import schemaLocation="http://adevweb022.amsa.com/LoanManagementService/LoanManagementService.svc?xsd=xsd5" namespace="http://amsa.com/contract/baserequestcontract/v1.0" />
      <xsd:import schemaLocation="http://adevweb022.amsa.com/LoanManagementService/LoanManagementService.svc?xsd=xsd7" namespace="http://amsa.com/contract/errorHandling/v1.0" />
      <xsd:import schemaLocation="http://adevweb022.amsa.com/LoanManagementService/LoanManagementService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://adevweb022.amsa.com/LoanManagementService/LoanManagementService.svc?xsd=xsd2" namespace="http://asa.org/contracts/loan" />
      <xsd:import schemaLocation="http://adevweb022.amsa.com/LoanManagementService/LoanManagementService.svc?xsd=xsd3" namespace="http://asa.org/contracts/commonTypes" />
      <xsd:import schemaLocation="http://adevweb022.amsa.com/LoanManagementService/LoanManagementService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://adevweb022.amsa.com/LoanManagementService/LoanManagementService.svc?xsd=xsd6" namespace="http://amsa.com/contract/ASA.Common.ResponseMessage/v1.0" />
      <xsd:import schemaLocation="http://adevweb022.amsa.com/LoanManagementService/LoanManagementService.svc?xsd=xsd8" namespace="http://asa.org/contracts/loanServiceCriteria" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SaveLoanRequest">
    <wsdl:part name="parameters" element="tns:SaveLoanRequest" />
  </wsdl:message>
  <wsdl:message name="SaveLoanRequest_Headers">
    <wsdl:part xmlns:q1="http://amsa.com/contract/baserequestcontract/v1.0" name="ParamList" element="q1:ParamList" />
  </wsdl:message>
  <wsdl:message name="SaveLoanResponse">
    <wsdl:part name="parameters" element="tns:SaveLoanResponse" />
  </wsdl:message>
  <wsdl:message name="ILoanManagement_SaveLoan_ASABusinessFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q2="http://amsa.com/contract/errorHandling/v1.0" name="detail" element="q2:ASABusinessFaultDetail" />
  </wsdl:message>
  <wsdl:message name="ILoanManagement_SaveLoan_ASAFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q3="http://amsa.com/contract/errorHandling/v1.0" name="detail" element="q3:ASAFaultDetail" />
  </wsdl:message>
  <wsdl:message name="GetLoanRequest">
    <wsdl:part name="parameters" element="tns:GetLoanRequest" />
  </wsdl:message>
  <wsdl:message name="GetLoanRequest_Headers">
    <wsdl:part xmlns:q4="http://amsa.com/contract/baserequestcontract/v1.0" name="ParamList" element="q4:ParamList" />
  </wsdl:message>
  <wsdl:message name="GetLoanResponse">
    <wsdl:part name="parameters" element="tns:GetLoanResponse" />
  </wsdl:message>
  <wsdl:message name="ILoanManagement_GetLoan_ASABusinessFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q5="http://amsa.com/contract/errorHandling/v1.0" name="detail" element="q5:ASABusinessFaultDetail" />
  </wsdl:message>
  <wsdl:message name="ILoanManagement_GetLoan_ASAFaultDetailFault_FaultMessage">
    <wsdl:part xmlns:q6="http://amsa.com/contract/errorHandling/v1.0" name="detail" element="q6:ASAFaultDetail" />
  </wsdl:message>
  <wsdl:portType name="ILoanManagement">
    <wsdl:operation name="SaveLoan">
      <wsdl:input wsaw:Action="SaveLoan" name="SaveLoanRequest" message="tns:SaveLoanRequest" />
      <wsdl:output wsaw:Action="http://asa.org/servicecontract/loanManagement/v1.2/ILoanManagement/SaveLoanResponse" name="SaveLoanResponse" message="tns:SaveLoanResponse" />
      <wsdl:fault wsaw:Action="ASABusinessFaultDetail" name="ASABusinessFaultDetailFault" message="tns:ILoanManagement_SaveLoan_ASABusinessFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="ASAFaultDetail" name="ASAFaultDetailFault" message="tns:ILoanManagement_SaveLoan_ASAFaultDetailFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLoan">
      <wsdl:input wsaw:Action="GetLoan" name="GetLoanRequest" message="tns:GetLoanRequest" />
      <wsdl:output wsaw:Action="http://asa.org/servicecontract/loanManagement/v1.2/ILoanManagement/GetLoanResponse" name="GetLoanResponse" message="tns:GetLoanResponse" />
      <wsdl:fault wsaw:Action="ASABusinessFaultDetail" name="ASABusinessFaultDetailFault" message="tns:ILoanManagement_GetLoan_ASABusinessFaultDetailFault_FaultMessage" />
      <wsdl:fault wsaw:Action="ASAFaultDetail" name="ASAFaultDetailFault" message="tns:ILoanManagement_GetLoan_ASAFaultDetailFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILoanManagement" type="tns:ILoanManagement">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveLoan">
      <soap:operation soapAction="SaveLoan" style="document" />
      <wsdl:input name="SaveLoanRequest">
        <soap:header message="tns:SaveLoanRequest_Headers" part="ParamList" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="SaveLoanResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ASABusinessFaultDetailFault">
        <soap:fault use="literal" name="ASABusinessFaultDetailFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ASAFaultDetailFault">
        <soap:fault use="literal" name="ASAFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetLoan">
      <soap:operation soapAction="GetLoan" style="document" />
      <wsdl:input name="GetLoanRequest">
        <soap:header message="tns:GetLoanRequest_Headers" part="ParamList" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetLoanResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ASABusinessFaultDetailFault">
        <soap:fault use="literal" name="ASABusinessFaultDetailFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="ASAFaultDetailFault">
        <soap:fault use="literal" name="ASAFaultDetailFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LoanManagement">
    <wsdl:port name="BasicHttpBinding_ILoanManagement" binding="tns:BasicHttpBinding_ILoanManagement">
      <soap:address location="http://adevweb022.amsa.com/LoanManagementService/LoanManagementService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>