EDMS/ASA.Web/WTF/Integration/MVC3/_configuration/AsaMvcConfig.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:ASA.Web.WTF.Integration.MVC3" elementFormDefault="qualified" targetNamespace="urn:ASA.Web.WTF.Integration.MVC3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="asaIntegration" type="tns:ASA.Web.WTF.Integration.MVC3.ASAIntegrationCT" />
	<xs:complexType name="ASA.Web.WTF.Integration.MVC3.ASAIntegrationCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="startup" type="tns:ASA.Web.WTF.Integration.MVC3.StartupCT">
				<xs:annotation>
					<xs:documentation>The Startup.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASA.Web.WTF.Integration.MVC3.StartupCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="contentPreload" type="tns:ASA.Web.WTF.Integration.MVC3.ContentPreloadCT">
				<xs:annotation>
					<xs:documentation>The ContentPreload.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="memberContextPreload" type="tns:ASA.Web.WTF.Integration.MVC3.MemberContextPreloadCT">
				<xs:annotation>
					<xs:documentation>The MemberContextPreload.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="enablePreload" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The EnablePreload.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="preloadStoreAuth" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The PreloadStoreAuth.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ASA.Web.WTF.Integration.MVC3.ContentPreloadCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="contentItem" type="tns:ASA.Web.WTF.Integration.MVC3.ContentItemCT">
				<xs:annotation>
					<xs:documentation>The ContentItem Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="enabled" use="required" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ASA.Web.WTF.Integration.MVC3.ContentItemCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="requestPath" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The RequestPath.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ASA.Web.WTF.Integration.MVC3.MemberContextPreloadCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:ASA.Web.WTF.Integration.MVC3.ExtendedOptionCT">
				<xs:annotation>
					<xs:documentation>The ExtendedOption Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="enabled" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Enabled.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="testUserLoad" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The TestUserLoad.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="testUserId" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The TestUserId.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ASA.Web.WTF.Integration.MVC3.ExtendedOptionCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="key" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Key.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
