EDMS/ASA.Web/Common/ActiveDirectory/Configuration/ActiveDirectory.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="urn:ASA.Web.Utility.ActiveDirectory.Configuration" elementFormDefault="qualified" targetNamespace="urn:ASA.Web.Utility.ActiveDirectory.Configuration" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="activeDirectoryConnectorSection" type="tns:ASA.Web.Utility.ActiveDirectory.Configuration.ActiveDirectoryConnectorSectionCT" />
	<xs:complexType name="ASA.Web.Utility.ActiveDirectory.Configuration.ActiveDirectoryConnectorSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="userID" type="tns:ASA.Web.Utility.ActiveDirectory.Configuration.UserIDCT">
				<xs:annotation>
					<xs:documentation>The UserID.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="password" type="tns:ASA.Web.Utility.ActiveDirectory.Configuration.PasswordCT">
				<xs:annotation>
					<xs:documentation>The Password.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="userContainer" type="tns:ASA.Web.Utility.ActiveDirectory.Configuration.UserContainerCT">
				<xs:annotation>
					<xs:documentation>The UserContainer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="domain" type="tns:ASA.Web.Utility.ActiveDirectory.Configuration.DomainCT">
				<xs:annotation>
					<xs:documentation>The Domain.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ASA.Web.Utility.ActiveDirectory.Configuration.UserContainerCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ASA.Web.Utility.ActiveDirectory.Configuration.UserIDCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ASA.Web.Utility.ActiveDirectory.Configuration.PasswordCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ASA.Web.Utility.ActiveDirectory.Configuration.DomainCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="value" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
