SOA/Web/SAL/SALServices/AppTool/Source/ASA.Web.Services.AppToolService.Proxy/Service References/AppTool/AppToolService96.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://asa.org/contracts/apptoolServiceCriteria" elementFormDefault="qualified" targetNamespace="http://asa.org/contracts/apptoolServiceCriteria" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://adevweb014.amsa.com/AppToolService/AppToolService.svc?xsd=xsd3" namespace="http://asa.org/contracts/commonTypes" />
  <xs:import schemaLocation="http://adevweb014.amsa.com/AppToolService/AppToolService.svc?xsd=xsd4" namespace="http://asa.org/contracts/apptool" />
  <xs:complexType name="AppToolServiceCriteriaType">
    <xs:sequence>
      <xs:element minOccurs="0" name="MaxEntities" type="xs:int" />
      <xs:element name="LogicalOperator" type="tns:LogicalOperatorType" />
      <xs:element name="ListReturnTypes" nillable="true" type="tns:ReturnListType">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="SortFields" nillable="true" type="tns:SortFields">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppToolServiceCriteriaType" nillable="true" type="tns:AppToolServiceCriteriaType" />
  <xs:simpleType name="LogicalOperatorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AND" />
      <xs:enumeration value="OR" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LogicalOperatorType" nillable="true" type="tns:LogicalOperatorType" />
  <xs:complexType name="ReturnListType">
    <xs:sequence>
      <xs:element xmlns:q1="http://asa.org/contracts/commonTypes" minOccurs="0" name="AppToolTier2Type" type="q1:YNFlagType" />
      <xs:element xmlns:q2="http://asa.org/contracts/commonTypes" minOccurs="0" name="AppToolInfoType" type="q2:YNFlagType" />
      <xs:element xmlns:q3="http://asa.org/contracts/commonTypes" minOccurs="0" name="AppToolTier3Type" type="q3:YNFlagType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnListType" nillable="true" type="tns:ReturnListType" />
  <xs:complexType name="SortFields">
    <xs:sequence>
      <xs:element name="ToolTypeId" nillable="true" type="tns:SortOperatorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SortFields" nillable="true" type="tns:SortFields" />
  <xs:simpleType name="SortOperatorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ASC" />
      <xs:enumeration value="DESC" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SortOperatorType" nillable="true" type="tns:SortOperatorType" />
  <xs:complexType name="CriteriaAppTool_PersonAppToolType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AppToolServiceCriteriaType">
        <xs:sequence>
          <xs:element name="CriterionPersonId" nillable="true" type="tns:CriterionPersonIdType">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element name="CriterionCustomerId" nillable="true" type="tns:CriterionCustomerIdType">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="CriterionAppToolTypeId" nillable="true" type="tns:CriterionAppToolTypeIdType">
            <xs:annotation>
              <xs:appinfo>
                <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CriteriaAppTool_PersonAppToolType" nillable="true" type="tns:CriteriaAppTool_PersonAppToolType" />
  <xs:complexType name="CriterionPersonIdType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CriterionType">
        <xs:sequence>
          <xs:element name="PersonId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CriterionPersonIdType" nillable="true" type="tns:CriterionPersonIdType" />
  <xs:complexType name="CriterionType">
    <xs:sequence>
      <xs:element name="RelationalOperator" type="tns:RelationalOperatorType" />
      <xs:element name="LogicalOperator" type="tns:LogicalOperatorType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CriterionType" nillable="true" type="tns:CriterionType" />
  <xs:simpleType name="RelationalOperatorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EQUALS" />
      <xs:enumeration value="STARTSWITH" />
      <xs:enumeration value="ENDSWITH" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RelationalOperatorType" nillable="true" type="tns:RelationalOperatorType" />
  <xs:complexType name="CriterionCustomerIdType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CriterionType">
        <xs:sequence>
          <xs:element name="CustomerId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CriterionCustomerIdType" nillable="true" type="tns:CriterionCustomerIdType" />
  <xs:complexType name="CriterionAppToolTypeIdType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:CriterionType">
        <xs:sequence>
          <xs:element xmlns:q4="http://asa.org/contracts/apptool" name="ToolTypeId" type="q4:ApplicationToolType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CriterionAppToolTypeIdType" nillable="true" type="tns:CriterionAppToolTypeIdType" />
</xs:schema>